<ion-header>
  <ion-toolbar>
    <ion-title>Zudum - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="login-container">
    <ion-text color="primary">
      <h1>Bienvenido a Zudum</h1>
    </ion-text>
    <ion-text color="medium">
      <p>Ingresa para ver tus series</p>
    </ion-text>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list>
        
        <ion-item>
          <ion-input
            label="Email"
            labelPlacement="stacked"
            type="email"
            placeholder="tu@correo.com"
            formControlName="email" 
            email="true"
          ></ion-input>
        </ion-item>
        <ion-note 
          slot="error" 
          *ngIf="f['email'].invalid && f['email'].touched"
          class="ion-padding-start"
        >
          <div *ngIf="f['email'].errors?.['required']">El email es obligatorio.</div>
          <div *ngIf="f['email'].errors?.['email']">El formato del email no es válido.</div>
        </ion-note>


        <ion-item class="ion-margin-top">
          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            type="password"
            placeholder="Tu contraseña"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <ion-note 
          slot="error" 
          *ngIf="f['password'].invalid && f['password'].touched"
          class="ion-padding-start"
        >
          El campo contraseña es obligatorio.
        </ion-note>

      </ion-list>

      <ion-button expand="block" type="submit" class="ion-margin-top">
        Ingresar
      </ion-button>

      <ion-button expand="block" color="light" routerLink="/registro" class="ion-margin-top">
        ¿No tienes cuenta? Regístrate
      </ion-button>
    </form>

  </div>
</ion-content>