<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle: {{ serie?.titulo }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="openDeleteAlert()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <form [formGroup]="detalleForm" (ngSubmit)="actualizarSerie()" *ngIf="serie">
    <ion-list>
      
      <ion-item>
        <ion-input
          label="Título de la Serie"
          labelPlacement="stacked"
          formControlName="titulo" 
        ></ion-input>
      </ion-item>
      <ion-note 
        slot="error" 
        *ngIf="f['titulo'].errors?.['required'] && f['titulo'].touched"
        class="ion-padding-start"
        color="danger"
      >
        El título es obligatorio.
      </ion-note>

      <ion-item class="ion-margin-top">
        <ion-textarea
          label="Sinopsis / Descripción"
          labelPlacement="stacked"
          formControlName="sinopsis" 
          rows="4"
        ></ion-textarea>
      </ion-item>
      <ion-note 
        slot="error" 
        *ngIf="f['sinopsis'].invalid && f['sinopsis'].touched"
        class="ion-padding-start"
        color="danger"
      >
        <div *ngIf="f['sinopsis'].errors?.['required']">La sinopsis es obligatoria.</div>
        <div *ngIf="f['sinopsis'].errors?.['maxlength']">Máximo 250 caracteres.</div>
      </ion-note>

      <ion-item class="ion-margin-top">
        <ion-input
          label="Temporadas"
          labelPlacement="stacked"
          type="number"
          formControlName="temporadas" 
        ></ion-input>
      </ion-item>
      <ion-note 
        slot="error" 
        *ngIf="f['temporadas'].invalid && f['temporadas'].touched"
        class="ion-padding-start"
        color="danger"
      >
        <div *ngIf="f['temporadas'].errors?.['required']">El número de temporadas es obligatorio.</div>
        <div *ngIf="f['temporadas'].errors?.['pattern']">Debe ser un número entero.</div>
        <div *ngIf="f['temporadas'].errors?.['min']">Debe ser al menos 1 temporada.</div>
      </ion-note>

      <ion-item class="ion-margin-top">
        <ion-select
          label="Estado de la Serie"
          labelPlacement="stacked"
          formControlName="estado"
        >
          <ion-select-option *ngFor="let estado of estados" [value]="estado">
            {{ estado }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note 
        slot="error" 
        *ngIf="f['estado'].errors?.['required'] && f['estado'].touched"
        class="ion-padding-start"
        color="danger"
      >
        Debes seleccionar un estado.
      </ion-note>

    </ion-list>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Guardar Cambios
    </ion-button>

  </form>
  
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Confirmar Eliminación"
    subHeader="Eliminar: {{ serie?.titulo }}"
    message="¿Estás seguro de que deseas eliminar esta serie? Esta acción no se puede deshacer."
    [buttons]="alertButtons"
    [inputs]="alertInputs"
    (didDismiss)="confirmDelete($event.detail.role === 'confirm')"
  ></ion-alert>

</ion-content>